@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(195, 195, 195);
    max-height: 100vh;
}

/* ----------------------------------------- HEADER HEADER HEADER HEADER ----------------------------------------- */

.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 41, 61);
}

.logo_bandeira img {
    width: 60px;
    margin-left: 10px;
    border-radius: 3px;
    transition: transform 0.3s ease;
}

.logo_bandeira img:hover {
    transform: scale(1.1);
}

.navbar a {
    text-decoration: none;
    font-family: 'Quicksand';
    font-size: 23px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-right: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.navbar a:hover {
    color: rgb(255, 203, 0);
    transform: scale(1.05);
}

.navbar a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(255, 203, 0);
    transition: width 0.3s ease;
}

.navbar a:hover::before {
    width: 100%;
}

/* ----------------------------------------- FOOTER FOOTER FOOTER FOOTER ----------------------------------------- */

.footer_bottom {
    background-color: rgb(39, 67, 92);
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    position: relative;
}

.footer_bottom p {
    font-family: 'Quicksand';
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
}

/* ----------------------------------------- HOME HOME HOME HOME ----------------------------------------- */

.hero {
    background-color: rgb(19, 41, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 50px;
    color: rgb(255, 255, 255);
    height: 80vh;
    animation: fadeIn 1s ease-in-out;
}

#hero_h1 {
    font-family: 'Roboto Serif';
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero_content {
    flex: 1;
    padding-right: 50px;
}

.hero_content h1 {
    font-family: 'Roboto Serif';
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    animation: slideInLeft .5s ease-out;

}

.hero_content #p1 {
    display: none;
    font-family: 'Quicksand';
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.7;
    text-align: justify;
}

.hero_image {
    flex: 1;
    text-align: right;
    animation: slideInRight .5s ease;
}

.hero_image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}

.hero_image img:hover {
    transform: scale(1.05);
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.reveal_btn {
    background-color: rgb(0, 139, 0);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-family: 'Quicksand';
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease;
    animation: fadeIn 1s ease-in;
}

.reveal_btn:hover {
    transform: scale(1.1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* ----------------------------------------- HISTORY HISTORY HISTORY ----------------------------------------- */

.timeline {
    width: 100%;
    margin: 5px auto;
    margin-top: 30px;
    position: relative;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#history_h1 {
    font-family: 'Roboto Serif';
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.timeline ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    animation: fadeIn .5s ease-in;
}

.timeline ul::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 8px;
    height: 100%;
    background-color: rgb(0, 139, 0);
}

.timeline ul li {
    background-color: rgb(19, 41, 61);
    border-radius: 8px;
    margin-bottom: 150px;
    padding: 30px;
    position: relative;
    box-shadow: 0 4px rgba(0, 0, 0, .1);
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.timeline ul li .date {
    font-family: 'Roboto Serif';
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-align: center;
}

.timeline ul li .content {
    font-family: 'Quicksand';
    font-size: 23px;
    font-weight: 500;
    line-height: 1.7;
    text-align: justify;
    color: rgb(255, 255, 255);
}

.timeline ul li img {
    width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}
.timeline ul li img:hover {
    transform: scale(1.04);
}

@keyframes slideInDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ----------------------------------------- CHARACTERS CHARACTERS CHARACTERS ----------------------------------------- */

#personagens {
    text-align: center;
}

#personagens h1 {
    font-family: 'Roboto Serif';
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cards_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
}

.card {
    background-color: rgb(19, 41, 61);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
    padding-bottom: 60px;
    text-align: justify;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 350px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s forwards;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card h2 {
    margin: 20px 0 10px;
    font-family: 'Roboto Serif';
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.card p {
    font-family: 'Quicksand';
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: center;
}

.card a {
    font-family: 'Quicksand';
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 139, 0);
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: rgb(255, 203, 0);
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ----------------------------------------- DOCUMENTS DOCUMENTS DOCUMENTS ----------------------------------------- */

.docsh1 {
    font-family: 'Roboto Serif';
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.docsmain {
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.document_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.document {
    background-color: rgb(19, 41, 61);
    border-radius: 8px;
    padding: 15px;
    position: relative;
}

.document h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Roboto Serif';
    font-size: 30px;
    color: white;
    text-align: center;
}

.document p {
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 500;
    color: white;
    line-height: 1.5;
    padding-bottom: 5px;
    text-align: justify;
}

.image_container {
    text-align: center;
    margin-bottom: 15px;
    overflow: hidden;
    height: 250px;
}

.image_container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    height: auto;
    border-radius: 8px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.button {
    background-color: rgb(0, 139, 0);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: rgb(255, 203, 0);
}

.toggle {
    display: none;
}

.translation {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(216, 216, 216);
    border-radius: 8px;
}

.translation p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: black;
    text-align: justify;
}

.toggle:checked + .translation {
    display: block;
}

.docview_img_container {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.docview_img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border: 10px solid rgb(195, 195, 195);
}

/* ----------------------------------------- GALERY GALERY GALERY GALERY ----------------------------------------- */

.gallery_h1 {
    font-family: 'Roboto Serif';
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 15px;
    padding: 20px;
    align-items: stretch;
}

.gallery_item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(19, 41, 61);
    border: 5px solid rgb(19, 41, 61);
    transition: transform 0.3s ease;
    height: 550px;
}

.gallery_item:hover {
    transform: scale(1.05);
}

.gallery_img {
    width: 100%;
    height: 80%;
    transition: transform 0.3s ease;
    border-radius: 8px;
    object-fit: fill;
}

.description {
    text-align: center;
    font-family: 'Roboto Serif';
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.btn_container {
    display: flex;
    justify-content: center;
    margin-top: 1px;
    padding: 10px;
}

.gallery_btn {
    border: none;
    display: inline-block;
    padding: 10px 15px;
    margin-top: 7px;
    font-size: 18px;
    font-family: 'Quicksand';
    font-weight: bold;
    color: white;
    background-color: rgb(0, 139, 0);
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.gallery_btn:hover {
    background-color: rgb(255, 203, 0);
    transform: scale(1.05);
}

.container1 {
    text-align: center;
}

.container1h1 {
    font-family: 'Roboto Serif';
    font-size: 30px;
    text-align: center;
    background-color: rgb(0, 139, 0);
    color: white;
    margin-bottom: 20px;
}

.container1img {
    width: 90%;
    border: 5px solid rgb(19, 41, 61);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.container1img:hover {
    transform: scale(1.03);
}

.text_container {
    background-color: rgb(19, 41, 61);
    border-radius: 8px;
    margin: 82px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.container1h3 {
    font-family: 'Roboto Serif';
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

.container1p {
    font-family: 'Quicksand';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    color: white;
    text-align: justify;
}

.container1h4 {
    margin: 20px;
    font-family: 'Roboto Serif';
    font-size: 25px;
    color: white;
}

/* ----------------------------------------- CONTACT CONTACT CONTACT CONTACT ----------------------------------------- */

.formh1 {
    font-family: 'Roboto Serif';
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
}

form {
    background-color: rgb(19, 41, 61);
    margin: 30px;
    padding: 20px;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 19px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
}

.fieldset1 {
    padding: 15px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 1px;
    margin-top: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select, textarea {
    width: calc(100% - 10px);
    padding: 10px;
    border: 2px;
    border-radius: 8px;
    font-size: 16px;
}

input[type="submit"],
input[type="reset"] {
    width: 48%;
    padding: 10px;
    background-color: rgb(0, 139, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    margin: 13px;
}

.socials {
    display: flex;
    justify-content: space-around;
}

.socials a {
    text-decoration: none;
    color: white;
}

