/*
Blue: #302681
Green: #009440
Yellow: #ffcb00
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 38, 129);
}

.logo_bandeira img {
    width: 60px;
    display: flex;
    margin-left: 10px;
    border-radius: 3px;
}

.navbar a{
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 40px;
    margin-right: 10px;
}

.navbar a:hover {
    color: rgb(255, 203, 0);
    transition: .5s;
}

.hero {
    background: url(./assets/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hero h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.hero p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    font-weight: 200;
    padding-left: 300px;
    padding-right: 300px;
    text-align: justify;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.footer_bottom {
    background-color: rgb(26, 37, 47);
    padding: 20px 0;
}

.footer_bottom p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
}

/* Media Queries */

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .logo_bandeira img {
        width: 50px;
    }

    .navbar {
        margin-top: 10px;
    }

    .navbar a {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .hero h1 {
        font-size: 60px;
    }

    .hero p {
        font-size: 18px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer_bottom p {
        font-size: 12px;
    }
}

/* Para telas menores que 480px (celulares) */
@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .logo_bandeira img {
        width: 40px;
    }

    .navbar a {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .hero {
        height: 70vh;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_bottom p {
        font-size: 10px;
    }
}




