@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUpFade {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(195, 195, 195);
    max-height: 100vh;
}

/* ----------------------------------------- HEADER HEADER HEADER HEADER ----------------------------------------- */

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 41, 61);
    flex-wrap: wrap;
}

.logo_bandeira img {
    width: 60px;
    margin-left: 10px;
    border-radius: 3px;
    transition: transform 0.3s ease;
    display: block;
}

.logo_bandeira img:hover {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-right: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.navbar a:hover {
    color: rgb(255, 203, 0);
    transform: scale(1.1);
}

.navbar a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(255, 203, 0);
    transition: width 0.3s ease;
}

.navbar a:hover::before {
    width: 100%;
}

/* Media Queries */

@media (max-width: 768px) {
    .navbar a {
        font-size: 18px;
        margin: 5px;
    }
    
    .logo_bandeira img {
        width: 50px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .logo_bandeira {
        order: -1;
        margin-bottom: 10px;
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    }

    .navbar a {
        font-size: 16px;
        text-align: center;
        width: 100%;
        margin: 0;
    }
}
/* ----------------------------------------- FOOTER FOOTER FOOTER FOOTER ----------------------------------------- */

.footer_bottom {
    background-color: rgb(39, 67, 92);
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    position: relative;
}

.footer_bottom p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}

/* ----------------------------------------- HOME HOME HOME HOME ----------------------------------------- */

.hero {
    background-color: rgb(19, 41, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 50px;
    color: rgb(255, 255, 255);
    height: 80vh;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn .7s ease-out;
}

#hero_h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero_content {
    flex: 1;
    padding-right: 50px;
}

.hero_content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.125rem;
    font-weight: 100;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.hero_content #p1 {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    margin-bottom: 20px;
    line-height: 1.7;
    text-align: justify;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.hero_image {
    flex: 1;
    text-align: right;
    cursor: pointer;
    animation: slideInRight 1s ease-out;
}

.hero_image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    animation: fadeIn 1.5s ease-out;
}

.hero_image img:hover {
    transform: scale(1.05);
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    animation: fadeIn 2s ease-out;
}

.reveal_btn {
    background-color: rgb(0, 139, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    animation: fadeInScale 1s ease-out 0.3s both;
}

.reveal_btn:hover {
    background-color: rgb(255, 203, 0);
}

/* Media Queries */

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 30px;
        height: auto;
    }

    .hero_content {
        padding: 0;
    }

    .hero_content h1 {
        font-size: 2.5rem;
    }

    #hero_h1 {
        font-size: 1.5rem;
    }

    .hero_image {
        margin-top: 20px;
    }

    .reveal_btn {
        font-size: 1rem;
        padding: 8px 15px;
    }
}
/* ----------------------------------------- HISTORY HISTORY HISTORY ----------------------------------------- */

.timeline {
    width: 100%;
    margin: 5px auto;
    margin-top: 30px;
    position: relative;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    animation: slideUpFade 0.8s ease-out forwards;
}

#history_h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.timeline ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.timeline ul::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 8px;
    height: 100%;
    background-color: rgb(0, 139, 0);
}

.timeline ul li {
    background-color: rgb(19, 41, 61);
    border-radius: 8px;
    margin-bottom: 150px;
    padding: 30px;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.timeline ul li .date {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.125rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.timeline ul li .content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.7;
    text-align: justify;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.timeline ul li img {
    width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.timeline ul li img:hover {
    transform: scale(1.04);
}

/* Media Queries */

@media (max-width: 768px) {
    .timeline {
        flex-direction: column;
        align-items: center;
    }

    .timeline ul li {
        width: 90%;
        margin-bottom: 100px;
    }

    .timeline ul::before {
        width: 4px;
    }

    .timeline ul li .date {
        font-size: 2.5rem;
    }

    .timeline ul li .content {
        font-size: 1.125rem;
    }
}

@media (max-width: 480px) {
    .timeline {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .timeline ul li {
        width: 95%;
        margin-bottom: 80px;
        padding: 20px;
    }

    #history_h1 {
        font-size: 1.5rem;
    }

    .timeline ul li .date {
        font-size: 2rem;
    }

    .timeline ul li .content {
        font-size: 1rem;
    }

    .timeline ul li img {
        margin: 10px 0;
    }
}

/* ----------------------------------------- CHARACTERS CHARACTERS CHARACTERS ----------------------------------------- */

#personagens {
    text-align: center;
}

#personagens h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cards_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
    padding-top: 0;
}

.card {
    background-color: rgb(19, 41, 61);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    position: relative;
    padding-bottom: 60px;
    text-align: justify;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 350px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.7s forwards;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin: 20px 0 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.50rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-align: center;
}
.card p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    text-align: justify;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.card a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 139, 0);
    padding: 10px 20px;
    border-radius: 40px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: rgb(255, 203, 0);
}

/* Media Queries */

@media (max-width: 768px) {
    .cards_container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }

    #personagens h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
    }

    .card h2 {
        font-size: 1.25rem;
    }

    .card p {
        font-size: 0.875rem;
    }

    .card a {
        font-size: 1rem;
        padding: 8px 16px;
    }

    #personagens h1 {
        font-size: 1.25rem;
    }
}


/* ----------------------------------------- DOCUMENTS DOCUMENTS DOCUMENTS ----------------------------------------- */

.docsh1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.document_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    width: 70%;
    margin: auto;
    margin-bottom: 165px;
    border-radius: 8px;
}

.document {
    background-color: rgb(19, 41, 61);
    border-radius: 8px;
    padding: 30px;
    position: relative;
    height: auto;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    animation: fadeInScale 0.8s ease-out;
}

.document h2 {
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.25rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.document p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    line-height: 1.7;
    padding-bottom: 25px;
    text-align: justify;
}

.image_container {
    text-align: center;
    margin-bottom: 15px;
    overflow: hidden;
    height: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.image_container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    height: auto;
    border-radius: 8px;
}

.link_button_div {
    display: flex;
    justify-content: center;
}

.link_button {
    background-color: rgb(0, 139, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    text-align: center;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    animation: fadeInScale 1s ease-out 0.3s both;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.link_button:hover {
    background-color: rgb(255, 203, 0);
}

.docview_items {
    margin: 20px;
    text-align: center;
}
.docview_img {
    width: 100%;
    height: auto;
    border: 10px solid rgb(19, 41, 61);
    border-radius: 20px;
}

.docview_items img {
    border-radius: 20px;
}

.docview_translation {
    background-color: rgb(19, 41, 61);
    margin: 20px;
    padding: 25px;
    padding-top: 0;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.docview_translation h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.875rem;
    text-align: center;
    padding: 20px;
}

.docview_translation p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.7;
    text-align: justify;
}

/* Media Queries */

@media (max-width: 768px) {
    .docsh1 {
        font-size: 1.5rem;
        padding: 10px;
    }
}

@media (max-width: 1024px) {
    .document_container {
        grid-template-columns: 1fr;
        gap: 25px;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .document h2 {
        font-size: 1.75rem;
    }
}

@media (max-width: 768px) {
    .document p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .image_container {
        height: 200px;
    }

    .image_container img {
        height: 200px;
    }
}

@media (max-width: 768px) {
    .link_button {
        font-size: 1rem;
        padding: 8px 15px;
    }
}

@media (max-width: 600px) {
    .docview_items {
        margin: 10px;
    }

    .docview_translation {
        margin: 10px;
        padding: 15px;
    }

    .docview_translation h2 {
        font-size: 1.5rem;
        padding: 10px;
    }

    .docview_translation p {
        font-size: 1rem;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .docview_items {
        margin: 15px;
    }

    .docview_translation {
        margin: 15px;
        padding: 20px;
    }

    .docview_translation h2 {
        font-size: 1.75rem;
    }

    .docview_translation p {
        font-size: 1.125rem;
    }
}

/* ----------------------------------------- GALERY GALERY GALERY GALERY ----------------------------------------- */

.gallery_h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 10px;
    padding: 20px;
    padding-top: 0;
    align-items: stretch;
}

.gallery_item {
    position: relative;
    height: 700px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(19, 41, 61);
    border: 5px solid rgb(19, 41, 61);
    transition: transform 0.3s ease;
    animation: fadeInUp 0.8s ease-out;
}

.gallery_item:hover {
    transform: scale(1.05);
}

.gallery_img {
    width: 100%;
    height: 80%;
    transition: transform 0.3s ease;
    border-radius: 8px;
    object-fit: fill;
}

.description {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.65rem;
    color: rgb(255, 255, 255);
}

.btn_container {
    display: flex;
    justify-content: center;
    margin: 8px;
    padding: 10px;
}

.gallery_btn {
    background-color: rgb(0, 139, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    animation: fadeInScale 1s ease-out 0.3s both;
}

.gallery_btn:hover {
    background-color: rgb(255, 203, 0);
    transform: scale(1.05);
}

.container1h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.container1 {
    text-align: center;
    margin: 20px;
}

.container1img {
    width: 100%;
    border: 5px solid rgb(19, 41, 61);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.container1img:hover {
    transform: scale(1.01);
}

.text_container {
    background-color: rgb(19, 41, 61);
    border-radius: 8px;
    padding: 25px;
    margin-top: 20px;
}

.container1h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.25rem;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.container1p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.7;
    color: rgb(255, 255, 255);
    text-align: justify;
}

.container1h4 {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.75rem;
    color: rgb(255, 255, 255);
}

/* Media Queries */

@media (max-width: 768px) {
    .gallery_h1 {
        font-size: 1.5rem;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        padding: 10px;
    }

    .gallery_item {
        min-height: 300px;
    }

    .description {
        font-size: 1.25rem;
    }

    .gallery_btn {
        font-size: 16px;
        padding: 8px 12px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .gallery_h1 {
        font-size: 1.75rem;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    .gallery_item {
        min-height: 400px;
    }

    .description {
        font-size: 1.5rem;
    }

    .gallery_btn {
        font-size: 18px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .container1h3 {
        font-size: 2rem;
    }

    .container1p {
        font-size: 1.1rem;
    }

    .container1h4 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .text_container {
        padding: 5%;
    }

    .container1h3 {
        font-size: 1.8rem;
    }

    .container1p {
        font-size: 1rem;
    }

    .container1h4 {
        font-size: 1.25rem;
    }
}

/* ----------------------------------------- CONTACT CONTACT CONTACT CONTACT ----------------------------------------- */

.formh1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 139, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

form {
    background-color: rgb(19, 41, 61);
    margin: 30px;
    margin-bottom: 220px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.fieldset1 {
    padding: 15px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 1px;
    margin-top: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select, textarea {
    width: calc(100% - 10px);
    padding: 10px;
    border: 2px;
    border-radius: 8px;
    font-size: 16px;
}

input[type="submit"],
input[type="reset"] {
    background-color: rgb(0, 139, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    animation: fadeInScale 1s ease-out 0.3s both;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: rgb(255, 203, 0);
}

.contact_container {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    font-size: 40px;
    gap: 30px;
    margin-top: 10px;
    margin-right: 5px;
}

.icon_link {
    color: rgb(255, 255, 255);
}

/* Media Queries */

@media (max-width: 768px) {
    .formh1 {
        font-size: 1.5rem;
    }

    form {
        margin: 15px;
        padding: 15px;
    }

    input[type="submit"],
    input[type="reset"] {
        font-size: 18px;
        padding: 8px 15px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"],
    select,
    textarea {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .formh1 {
        font-size: 1.25rem;
    }

    form {
        padding: 10px;
    }

    input[type="submit"],
    input[type="reset"] {
        font-size: 16px;
        padding: 7px 12px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"],
    select,
    textarea {
        font-size: 12px;
    }

    .socials {
        flex-direction: column;
        align-items: center;
    }
}